<button
    matRipple
    [ngClass]="loading ? ['loading ' + _type] : _type"
    [style.backgroundImage]="domBG"
    [disabled]="disabled"
    [style.fontSize]="textSize">

    <div
        *ngIf="type !== 'circle-icon'
            && type !== 'transparent-dashed'"
        class="container">

        <mat-spinner class="spinner" [diameter]="30" *ngIf="loading">
        </mat-spinner>

        <img *ngIf="glyph" [src]="glyph" />
        <i *ngIf="iconClass" [class]="iconClass"></i>

        <span *ngIf="!loading && !innerHide">
            {{ caption }}

            <ng-content></ng-content>
        </span>

        <div *ngIf="domBG" class="overlay"></div>

    </div>

    <div
        *ngIf="!loading
            && (type === 'circle-icon'
            || type === 'transparent-dashed')"
        class="container">
        <i *ngIf="iconClass" [class]="iconClass"></i>
    </div>

</button>
