<div class="container">
    <img class="logo" src="../../../assets/icons/fav.svg">
    <img class="icon" src="../../../assets/icons/icon _menu_.svg">
    <img class="icon" src="../../../assets/icons/icon _search_outline.svg">
    <img class="icon" src="../../../assets/icons/icon _star_outline_.svg">
    <img class="icon" src="../../../assets/icons/icon _message_outline.svg">
    <img class="icon" src="../../../assets/icons/icon _options_outline.svg">
    <img class="icon" src="../../../assets/icons/icon_house_outline.svg">
    <div class="fill"></div>
</div>
